################################################################################

*.pyproj
*.user
*.sln
*.suo
*.pyc
*.env
*.flaskenv
/.vs
/.vscode
/env
/venv
/__pycache__
/da-flask-app/client
/node_modules
/coverage
