################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.pyproj
*.user
*.sln
*.suo
/env
/venv
/da-flask-app/venv
