################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################



*.pyproj
*.user
*.sln
*.suo
*.pyc
*.env
*.flaskenv
/.vs
/env
/venv
/__pycache__
/da-flask-app/venv
